flask-cors ~= 6.0.0
flask-jwt-extended ~= 4.7.1
flask-openapi3 ~= 4.1.0
flask-openapi3-swagger ~= 5.21.0
passlib[bcrypt] ~= 1.7.4
pyright ~= 1.1.399
python-dotenv ~= 1.1.0
ruff ~= 0.11.5
sqlmodel ~= 0.0.24
