name: Checks and Deploy Preview

on:
  push:
    branches-ignore:
      - main
    # branches:
    #   - preview
  workflow_dispatch:
    inputs:
      force_deploy_api:
        description: "Whether to force deploy the api regardless of changes"
        required: false
        type: boolean
        default: false
      force_deploy_web:
        description: "Whether to force deploy the web regardless of changes"
        required: false
        type: boolean
        default: false

jobs:
  detect-changes:
    name: Detect Changes
    uses: ./.github/workflows/_detect-changes.yml
    with:
      force_deploy_api: ${{ inputs.force_deploy_api || false }}
      force_deploy_web: ${{ inputs.force_deploy_web || false }}
  checks:
    name: Checks
    needs: [detect-changes]
    if: ${{ needs.detect-changes.outputs.should_deploy_api == 'true' || needs.detect-changes.outputs.should_deploy_web == 'true' }}
    uses: ./.github/workflows/_checks.yml

  deploy-api-preview:
    name: Deploy API Preview (Railway)
    environment: Preview
    needs: [detect-changes, checks]
    if: ${{ needs.detect-changes.outputs.should_deploy_api == 'true' }}
    runs-on: ubuntu-latest
    container: ghcr.io/railwayapp/cli:latest
    timeout-minutes: 30
    env:
      RAILWAY_SERVICE_ID: ${{ secrets.RAILWAY_SERVICE_ID }}
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Deploy API to Railway
        run: railway up --ci --service=${{ env.RAILWAY_SERVICE_ID }} --environment=preview

  deploy-web-preview:
    name: Deploy Web Preview (Vercel)
    environment: Preview
    needs: [detect-changes, checks]
    if: ${{ needs.detect-changes.outputs.should_deploy_web == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: web/package.json

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: web/package.json
          cache: "pnpm"
          cache-dependency-path: web/pnpm-lock.yaml

      - name: Install Vercel CLI
        run: pnpm add --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
